<section
  class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2 sm:items-center"
>
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div
      class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right"
    >
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Geek in U on Tour 2023
        <h3 class="mt-1">มีพี่ มีเวิร์คชอป มีกิจกรรมเด็ด</h3>
      </h2>

      <p class="hidden text-gray-500 md:mt-4 md:block">
        เชิญน้องๆ มาร่วมทำกิจกรรมกับเหล่าพี่ๆ ฟังเรื่องราวประสบการณ์ดีๆ
        ความรู้ใหม่ๆ จากพี่วิทยากรสาย IT พร้อมทั้งได้เรียนเว็ปไซต์เป็นของตัวเอง
      </p>

      <div class="mt-4 md:mt-8">
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSfVgeyw5W3lQzJBIP1NTLUK7-a56wK57DXvnvxNjHQy9fYRLg/viewform?usp=sf_link"
          target="_blank"
          class="inline-block rounded bg-orange-500 px-12 py-3 text-sm font-medium text-white transition hover:bg-orange-400 focus:outline-none focus:ring focus:ring-yellow-400"
        >
          ลงทะเบียน
        </a>
      </div>
    </div>
  </div>

  <img
    alt="Violin"
    src="https://images.unsplash.com/photo-1484959014842-cd1d967a39cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
    class="h-full w-full object-cover sm:h-[calc(100%_-_2rem)] sm:self-end sm:rounded-ss-[30px] md:h-[calc(100%_-_4rem)] md:rounded-ss-[60px]"
  />
</section>
