<section>
  <div class="flex justify-center p-6 lg:p-24 bg-gray-100">
    <div class="bg-white rounded-lg w-100 lg:w-1/2 xl:w-1/3 p-4 shadow">
      <div class="mb-4 lg:mb-8">
        <span
          class="text-gray-900 relative inline-block font-bold uppercase font-medium lg:text-xl tracking-widest"
        >
          วันเสาร์ที่ 27 พฤษภาคม 2566
        </span>
        <hr class="w-75 mt-1 mb-3" />
        <div class="flex mb-2">
          <div class="w-2/12 lg:w-1/12 pt-1">
            <span class="text-sm lg:text-base text-gray-600">08:00</span>
          </div>
          <div class="w-1/12 pt-1">
            <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
          </div>
          <div class="w-9/12">
            <span class="text-sm lg:text-lg font-semibold block">ลงทะเบียน</span>
            <span class="text-sm lg:text-base">บริเวณหน้าหอประชุม</span>
          </div>
        </div>
        <div class="flex mb-2">
          <div class="w-2/12 lg:w-1/12 pt-1">
            <span class="text-sm lg:text-base text-gray-600">08:30</span>
          </div>
          <div class="w-1/12 pt-1">
            <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
          </div>
          <div class="w-9/12">
            <span class="text-sm lg:text-lg font-semibold block">ลงทะเบียน</span>
            <span class="text-sm lg:text-base">บริเวณหน้าหอประชุม</span>
          </div>
        </div>
        <div class="flex mb-2">
          <div class="w-2/12 lg:w-1/12 pt-1">
            <span class="text-sm lg:text-base text-gray-600">09:00</span>
          </div>
          <div class="w-1/12 pt-1">
            <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
          </div>
          <div class="w-9/12">
            <span class="text-sm lg:text-lg font-semibold block">ลงทะเบียน</span>
            <span class="text-sm lg:text-base">บริเวณหน้าหอประชุม</span>
          </div>
        </div>
        <div class="flex mb-2">
          <div class="w-2/12 lg:w-1/12 pt-1">
            <span class="text-sm lg:text-base text-gray-600">09:30</span>
          </div>
          <div class="w-1/12 pt-1">
            <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
          </div>
          <div class="w-9/12">
            <span class="text-sm lg:text-lg font-semibold block">ลงทะเบียน</span>
            <span class="text-sm lg:text-base">บริเวณหน้าหอประชุม</span>
          </div>
        </div>
        <div class="flex mb-2">
          <div class="w-2/12 lg:w-1/12 pt-1">
            <span class="text-sm lg:text-base text-gray-600">10:15</span>
          </div>
          <div class="w-1/12 pt-1">
            <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
          </div>
          <div class="w-9/12">
            <span class="text-sm lg:text-lg font-semibold block">ลงทะเบียน</span>
            <span class="text-sm lg:text-base">บริเวณหน้าหอประชุม</span>
          </div>
        </div>
        <div class="flex mb-2">
          <div class="w-2/12 lg:w-1/12 pt-1">
            <span class="text-sm lg:text-base text-gray-600">11:00</span>
          </div>
          <div class="w-1/12 pt-1">
            <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
          </div>
          <div class="w-9/12">
            <span class="text-sm lg:text-lg font-semibold block">ลงทะเบียน</span>
            <span class="text-sm lg:text-base">บริเวณหน้าหอประชุม</span>
          </div>
        </div>
        <div class="flex mb-2">
          <div class="w-2/12 lg:w-1/12 pt-1">
            <span class="text-sm lg:text-base text-gray-600">11:45</span>
          </div>
          <div class="w-1/12 pt-1">
            <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
          </div>
          <div class="w-9/12">
            <span class="text-sm lg:text-lg font-semibold block">ลงทะเบียน</span>
            <span class="text-sm lg:text-base">บริเวณหน้าหอประชุม</span>
          </div>
        </div>
        <div class="flex mb-2">
          <div class="w-2/12 lg:w-1/12 pt-1">
            <span class="text-sm lg:text-base text-gray-600">12:45</span>
          </div>
          <div class="w-1/12 pt-1">
            <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
          </div>
          <div class="w-9/12">
            <span class="text-sm lg:text-lg font-semibold block">ลงทะเบียน</span>
            <span class="text-sm lg:text-base">บริเวณหน้าหอประชุม</span>
          </div>
        </div>
        <div class="flex mb-2">
          <div class="w-2/12 lg:w-1/12 pt-1">
            <span class="text-sm lg:text-base text-gray-600">13:30</span>
          </div>
          <div class="w-1/12 pt-1">
            <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
          </div>
          <div class="w-9/12">
            <span class="text-sm lg:text-lg font-semibold block">ลงทะเบียน</span>
            <span class="text-sm lg:text-base">บริเวณหน้าหอประชุม</span>
          </div>
        </div>
        <div class="flex mb-2">
          <div class="w-2/12 lg:w-1/12 pt-1">
            <span class="text-sm lg:text-base text-gray-600">14:00</span>
          </div>
          <div class="w-1/12 pt-1">
            <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
          </div>
          <div class="w-9/12">
            <span class="text-sm lg:text-lg font-semibold block">ลงทะเบียน</span>
            <span class="text-sm lg:text-base">บริเวณหน้าหอประชุม</span>
          </div>
        </div>
        <div class="flex mb-2">
          <div class="w-2/12 lg:w-1/12 pt-1">
            <span class="text-sm lg:text-base text-gray-600">14:45</span>
          </div>
          <div class="w-1/12 pt-1">
            <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
          </div>
          <div class="w-9/12">
            <span class="text-sm lg:text-lg font-semibold block">ลงทะเบียน</span>
            <span class="text-sm lg:text-base">บริเวณหน้าหอประชุม</span>
          </div>
        </div>
        <div class="flex mb-2">
          <div class="w-2/12 lg:w-1/12 pt-1">
            <span class="text-sm lg:text-base text-gray-600">15:45</span>
          </div>
          <div class="w-1/12 pt-1">
            <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
          </div>
          <div class="w-9/12">
            <span class="text-sm lg:text-lg font-semibold block">ลงทะเบียน</span>
            <span class="text-sm lg:text-base">บริเวณหน้าหอประชุม</span>
          </div>
        </div>
        <div class="flex mb-2">
          <div class="w-2/12 lg:w-1/12 pt-1">
            <span class="text-sm lg:text-base text-gray-600">16:30</span>
          </div>
          <div class="w-1/12 pt-1">
            <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
          </div>
          <div class="w-9/12">
            <span class="text-sm lg:text-lg font-semibold block">ลงทะเบียน</span>
            <span class="text-sm lg:text-base">บริเวณหน้าหอประชุม</span>
          </div>
        </div>
      </div>
      <div>
        <span
          class="text-gray-900 relative inline-block font-bold uppercase font-medium lg:text-xl tracking-widest"
        >
          วันอาทิตย์ที่ 28 พฤษภาคม 2566
        </span>
        <hr class="w-75 mt-1 mb-3" />
        <div class="flex mb-2">
          <div class="w-2/12 lg:w-1/12 pt-1">
            <span class="text-sm lg:text-base text-gray-600">13:30</span>
          </div>
          <div class="w-1/12 pt-1">
            <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
          </div>
          <div class="w-9/12">
            <span class="text-sm lg:text-lg font-semibold block">ลงทะเบียน</span>
            <span class="text-sm lg:text-base">บริเวณหน้าหอประชุม</span>
          </div>
        </div>
        <div class="flex mb-2">
          <div class="w-2/12 lg:w-1/12 pt-1">
            <span class="text-sm lg:text-base text-gray-600">14:00</span>
          </div>
          <div class="w-1/12 pt-1">
            <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
          </div>
          <div class="w-9/12">
            <span class="text-sm lg:text-lg font-semibold block">ลงทะเบียน</span>
            <span class="text-sm lg:text-base">บริเวณหน้าหอประชุม</span>
          </div>
        </div>
        <div class="flex mb-2">
          <div class="w-2/12 lg:w-1/12 pt-1">
            <span class="text-sm lg:text-base text-gray-600">14:45</span>
          </div>
          <div class="w-1/12 pt-1">
            <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
          </div>
          <div class="w-9/12">
            <span class="text-sm lg:text-lg font-semibold block">ลงทะเบียน</span>
            <span class="text-sm lg:text-base">บริเวณหน้าหอประชุม</span>
          </div>
        </div>
        <div class="flex mb-2">
          <div class="w-2/12 lg:w-1/12 pt-1">
            <span class="text-sm lg:text-base text-gray-600">15:45</span>
          </div>
          <div class="w-1/12 pt-1">
            <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
          </div>
          <div class="w-9/12">
            <span class="text-sm lg:text-lg font-semibold block">ลงทะเบียน</span>
            <span class="text-sm lg:text-base">บริเวณหน้าหอประชุม</span>
          </div>
        </div>
        <div class="flex mb-2">
          <div class="w-2/12 lg:w-1/12 pt-1">
            <span class="text-sm lg:text-base text-gray-600">16:30</span>
          </div>
          <div class="w-1/12 pt-1">
            <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
          </div>
          <div class="w-9/12">
            <span class="text-sm lg:text-lg font-semibold block">ลงทะเบียน</span>
            <span class="text-sm lg:text-base">บริเวณหน้าหอประชุม</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
