<div class="flex items-center justify-center flex-col bg-white py-20">
  <!-- main card -->
  <div class="bg-white w-100 p-10 rounded-xl">
    <!-- headers content-->
    <div class="flex flex-col justify-center items-center text-center">
      <div
        class="max-w-sm font-bold font-sans text-orange-500"
        style="font-size: 30px"
      >
        สั่งเสื้อ เพื่อน้อง!!
      </div>
      <div
        class="font-light max-w-lg mt-2 mb-4 text-sm text-gray-500"
        style="font-size: 16px"
      >
        ที่ทุกคนสามารถช่วยร่วมเป็นส่วนหนึ่งของการเติมไฟ สานฝันน้องๆ
        เพียงสั่งเสื้อตามสไตล์ที่คุณชอบ ราคาเพียง 350 บาท เท่านั้น!!!
      </div>
    </div>

    <!-- subscriptions -->
    <div
      class="flex flex-col md:flex-row space-x-0 md:space-x-0 space-y-12 md:space-y-0 justify-center items-center mt-10"
    >
      <!-- component -->
      <div
        class="mx-auto w-96 transform overflow-hidden rounded-lg bg-white shadow-md duration-300 hover:scale-105 hover:shadow-lg"
      >
        <img
          class="h-54 w-full object-cover object-center"
          src="../images/shirt1.png"
          alt="Product Image"
        />
        <div class="p-4">
          <h2 class="mb-2 text-lg font-medium text-gray-900">แบบที่1</h2>
          <!-- <p class="mb-2 text-base text-gray-700">
            Product description goes here.
          </p> -->
          <div class="flex items-center">
            <p
              class="mr-2 text-lg font-semibold text-gray-900"
              style="color: red"
            >
              350.00 ฿
            </p>
            <p
              class="text-base font-medium text-gray-500 line-through dark:text-gray-300"
            >
              450.00 ฿
            </p>
          </div>
        </div>
      </div>
      <div
        class="mx-auto w-96 transform overflow-hidden rounded-lg bg-white shadow-md duration-300 hover:scale-105 hover:shadow-lg"
      >
        <img
          class="h-54 w-full object-cover object-center"
          src="../images/shirt2.png"
          alt="Product Image"
        />
        <div class="p-4">
          <h2 class="mb-2 text-lg font-medium text-gray-900">แบบที่2</h2>
          <!-- <p class="mb-2 text-base text-gray-700">
            Product description goes here.
          </p> -->
          <div class="flex items-center">
            <p
              class="mr-2 text-lg font-semibold text-gray-900"
              style="color: red"
            >
              350.00 ฿
            </p>
            <p
              class="text-base font-medium text-gray-500 line-through dark:text-gray-300"
            >
              450.00 ฿
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-10 flex justify-center">
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLScxYifNmrTHEJfJQr--C_0NvmIN8kJ6lfG0CnIvYbSZFEmpWg/viewform?usp=sf_link"
        target="_blank"
        class="inline-block rounded bg-orange-500 px-12 py-3 text-sm font-medium text-white transition hover:bg-orange-400 focus:outline-none focus:ring focus:ring-yellow-400"
      >
        สั่งเลย
      </a>
    </div>
  </div>
</div>
